appnope
argon2-cffi
async-generator
attrs
backcall
bleach
certifi
cffi
cycler
dataclasses
decorator
defusedxml
entrypoints
environment-kernels
future
imageio
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
kiwisolver
lpips
MarkupSafe
matplotlib
mistune
natsort
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
qtconsole
QtPy
scikit-image
scipy
Send2Trash
six
terminado
tensorboard
testpath
tifffile
torch
torchvision
tornado
tqdm
traitlets
typing-extensions
wcwidth
webencodings
widgetsnbextension
zipp
